# TOC
1. Import Libraries & Data     
2. Inspecting original data   
3. Converting date column to datetime format   
4. Filtering data to scope of project (Jan 1 2018 through December 31 2022)   
5. Saving filtered data to pkl

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
# Importing original data
path = r'C:\Users\Ryzen RGB Madness!!!\Iowa Liquor Sales Analysis'

In [3]:
orig_data = pd.read_csv(os.path.join(path, '01 - Data', 'Original', 'Iowa_Liquor_Sales_20231118.csv'))

C:\Users\Ryzen RGB Madness!!!\AppData\Local\Temp\ipykernel_16280\1727530366.py:1: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  orig_data = pd.read_csv(os.path.join(path, '01 - Data', 'Original', 'Iowa_Liquor_Sales_20231118.csv'))

In [5]:
# Investigating original data
orig_data.shape

(27711028, 24)

In [6]:
orig_data.dtypes

Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number               object
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [35]:
# Converting date column to datetime type
orig_data['date'] = pd.to_datetime(orig_data['date'], format="%m/%d/%Y")

In [36]:
orig_data.dtypes

invoice_number                 object
date                   datetime64[ns]
store_number                    int64
store_name                     object
address                        object
city                           object
zip_code                       object
store_location                 object
county_num                    float64
county                         object
category                      float64
category_name                  object
vendor_number                 float64
vendor_name                    object
item_number                    object
item_description               object
pack                            int64
bottle_volume_ml                int64
state_bottle_cost             float64
state_bottle_retail           float64
bottles_sold                    int64
sale_dollars                  float64
volume_sold_liters            float64
volume_sold_gallons           float64
dtype: object

In [37]:
orig_data.head()

,invoice_number,date,store_number,store_name,address,city,zip_code,store_location,county_num,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,S07444000056,2012-08-30,2509,HY-VEE / DRUGTOWN #1 / CEDAR RAPIDS,1520 6TH ST SW,CEDAR RAPIDS,52404,POINT (-91.67706 41.962419),57.0,LINN,...,22151,WILD TURKEY 101 MINI,12,500,8.52,12.79,1,12.79,0.50,0.13
1,S09571400010,2012-12-19,4187,JENSEN LIQUOR NORTH,109 5TH ST,SIBLEY,51249,POINT (-95.759943 43.403935),72.0,OSCEOLA,...,11786,BLACK VELVET TRAVELER,12,750,5.23,7.84,12,94.08,9.00,2.38
2,S08965800094,2012-11-15,2635,HY-VEE #4 / DAVENPORT,4064 E 53RD ST,DAVENPORT,52807,POINT (-90.513769 41.574973),82.0,SCOTT,...,50686,ST. REMY VSOP NAPOLEON BRANDY,12,750,6.99,10.49,4,41.96,3.00,0.79
3,S03749500062,2012-01-25,3704,CELTICS BEVERAGE COMPANY,1122 BROADWAY,EMMETSBURG,50536,POINT (-94.678807 43.10937),74.0,PALO ALTO,...,4798,CUTTY SARK SCOTCH,6,1750,23.90,35.85,2,71.70,3.50,0.92
4,S17509200029,2014-02-20,4935,ALI'S LIQUOR,1117 E 4TH ST,WATERLOO,50703,POINT (-92.332774 42.507683),7.0,BLACK HAWK,...,48154,HENNESSY BLACK,12,375,11.99,17.99,2,35.98,0.75,0.20

In [38]:
orig_data.shape

(27711028, 24)

In [39]:
filtered_data = orig_data[(orig_data['date'] >= '2018-01-01') & (orig_data['date'] <= '2022-12-31')]

In [40]:
filtered_data.shape

(12537545, 24)

In [52]:
# Saving filtered data prior to cleaning (the original dataset crashes my computer)
filtered_data.to_pickle(os.path.join(path, '01 - Data', 'Original', 'iowa_liquor_sales_jan18_to_dec22_orig.pkl'))