# TOC
1. Importing libraries & data   
2. Descriptive statistics - quantitative   
3. Descriptive statistics - categorical

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn
import scipy

In [2]:
# Importing data
path = r'C:\Users\Ryzen RGB Madness!!!\Iowa Liquor Sales Analysis'

In [3]:
liquor_data_complete = pd.read_pickle(os.path.join(path, '01 - Data', 'Cleaned', 'iowa_liquor_data_complete.pkl'))

In [4]:
liquor_data_complete.dtypes

invoice_number                 object
date                   datetime64[ns]
store_number           string[python]
store_name                     object
address                        object
city                           object
zip_code                       object
county                         object
category               string[python]
category_name                  object
vendor_number          string[python]
vendor_name                    object
item_number            string[python]
item_description               object
pack                            int64
bottle_volume_ml                int64
state_bottle_cost             float64
state_bottle_retail           float64
bottles_sold                    int64
sale_dollars                  float64
volume_sold_liters            float64
volume_sold_gallons           float64
dtype: object

In [5]:
# Descriptive statistics on all numeric fields
liquor_data_complete['pack'].describe()

count    1.253754e+07
mean     1.215107e+01
std      7.980532e+00
min      1.000000e+00
25%      6.000000e+00
50%      1.200000e+01
75%      1.200000e+01
max      1.200000e+02
Name: pack, dtype: float64

In [6]:
liquor_data_complete['bottle_volume_ml'].describe()

count    1.253754e+07
mean     8.495272e+02
std      5.243446e+02
min      2.000000e+01
25%      6.000000e+02
50%      7.500000e+02
75%      1.000000e+03
max      6.000000e+03
Name: bottle_volume_ml, dtype: float64

In [7]:
liquor_data_complete['state_bottle_cost'].describe()

count    1.253754e+07
mean     1.100411e+01
std      1.204841e+01
min      3.300000e-01
25%      5.780000e+00
50%      8.740000e+00
75%      1.350000e+01
max      1.843600e+04
Name: state_bottle_cost, dtype: float64

In [8]:
liquor_data_complete['state_bottle_retail'].describe()

count    1.253754e+07
mean     1.650806e+01
std      1.807231e+01
min      5.000000e-01
25%      8.670000e+00
50%      1.311000e+01
75%      2.025000e+01
max      2.765400e+04
Name: state_bottle_retail, dtype: float64

In [9]:
# What is that $18,000 bottle of liquor??
cost_max = liquor_data_complete[liquor_data_complete['state_bottle_cost']==18436.0]

In [10]:
cost_max.head()

,invoice_number,date,store_number,store_name,address,city,zip_code,county,category,category_name,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
2713489,INV-54067800001,2022-12-16,6242,WALL TO WALL WINE AND SPIRITS / WEST DES MOINES,375 SOUTH JORDAN CREEK PARKWAY,WEST DES MOINES,50266,DALLAS,1012200.0,SCOTCH WHISKIES,...,906540,GLENGOYNE SINGLE MALT SCOTCH 50YR DECANTER,1,750,18436.0,27654.0,1,27654.0,0.75,0.19

In [11]:
liquor_data_complete['bottles_sold'].describe()

count    1.253754e+07
mean     1.146606e+01
std      3.325119e+01
min     -3.600000e+02
25%      3.000000e+00
50%      6.000000e+00
75%      1.200000e+01
max      1.320000e+04
Name: bottles_sold, dtype: float64

In [12]:
# What is that bottles_sold max??
bottle_max = liquor_data_complete[liquor_data_complete['bottles_sold']==13200.0]

In [13]:
bottle_max.head()

,invoice_number,date,store_number,store_name,address,city,zip_code,county,category,category_name,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
5801907,INV-30852400189,2020-10-08,2633,HY-VEE #3 / BDI / DES MOINES,3221 SE 14TH ST,DES MOINES,50320.0,POLK,1031100.0,AMERICAN VODKAS,...,38177,TITOS HANDMADE VODKA,12,1000,12.67,19.01,13200,250932.0,13200.0,3487.07
6039818,INV-38045600132,2021-07-05,2633,HY-VEE #3 / BDI / DES MOINES,3221 SE 14TH ST,DES MOINES,50320.0,POLK,1031100.0,AMERICAN VODKAS,...,38177,TITOS HANDMADE VODKA,12,1000,12.67,19.01,13200,250932.0,13200.0,3487.07
6578893,INV-35909600152,2021-04-19,2633,HY-VEE #3 / BDI / DES MOINES,3221 SE 14TH ST,DES MOINES,50320.0,POLK,1031100.0,AMERICAN VODKAS,...,38177,TITOS HANDMADE VODKA,12,1000,12.67,19.01,13200,250932.0,13200.0,3487.07
9012763,INV-43470400126,2022-01-03,2633,HY-VEE #3 / BDI / DES MOINES,3221 SE 14TH ST,DES MOINES,50320,POLK,1031100.0,AMERICAN VODKAS,...,38177,TITOS HANDMADE VODKA,12,1000,12.67,19.01,13200,250932.0,13200.0,3487.07

In [14]:
liquor_data_complete['sale_dollars'].describe()

count    1.253754e+07
mean     1.544963e+02
std      5.443291e+02
min     -9.720000e+03
25%      3.825000e+01
50%      8.100000e+01
75%      1.616400e+02
max      2.795573e+05
Name: sale_dollars, dtype: float64

In [15]:
# What is that sale dollars max??? 
sale_max = liquor_data_complete[liquor_data_complete['sale_dollars']==279557.28]

In [16]:
sale_max.head()

,invoice_number,date,store_number,store_name,address,city,zip_code,county,category,category_name,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
9990254,INV-14774700005,2018-10-02,2663,HY-VEE FOOD STORE / URBANDALE,8701 DOUGLAS,URBANDALE,50322.0,POLK,1012100.0,CANADIAN WHISKIES,...,11296,CROWN ROYAL,12,750,15.59,23.39,11952,279557.28,8964.0,2368.03

In [17]:
liquor_data_complete['volume_sold_liters'].describe()

count    1.253754e+07
mean     9.310477e+00
std      3.938240e+01
min     -6.300000e+02
25%      1.500000e+00
50%      4.800000e+00
75%      1.050000e+01
max      1.320000e+04
Name: volume_sold_liters, dtype: float64

In [18]:
liquor_data_complete['volume_sold_gallons'].describe()

count    1.253754e+07
mean     2.454630e+00
std      1.040391e+01
min     -1.664200e+02
25%      3.900000e-01
50%      1.260000e+00
75%      2.770000e+00
max      3.487070e+03
Name: volume_sold_gallons, dtype: float64

In [19]:
liquor_data_complete['store_number'].describe()

count     12537545
unique        2390
top           2633
freq         95628
Name: store_number, dtype: object

In [20]:
liquor_data_complete['store_name'].describe()

count                         12537545
unique                            2477
top       HY-VEE #3 / BDI / DES MOINES
freq                             95628
Name: store_name, dtype: object

In [21]:
liquor_data_complete['address'].describe()

count            12537545
unique               2443
top       3221 SE 14TH ST
freq               130640
Name: address, dtype: object

In [22]:
liquor_data_complete['city'].describe()

count       12537545
unique           462
top       DES MOINES
freq         1038875
Name: city, dtype: object

In [23]:
liquor_data_complete['zip_code'].describe()

count     12537545
unique         992
top        50010.0
freq        214745
Name: zip_code, dtype: object

In [24]:
liquor_data_complete['county'].describe()

count     12537545
unique         100
top           POLK
freq       2356658
Name: county, dtype: object

In [25]:
liquor_data_complete['category'].describe()

count      12537545
unique           62
top       1031100.0
freq        1884341
Name: category, dtype: object

In [26]:
liquor_data_complete['category_name'].describe()

count            12537545
unique                 51
top       AMERICAN VODKAS
freq              1884737
Name: category_name, dtype: object

In [27]:
liquor_data_complete['vendor_number'].describe()

count     12537545
unique         346
top          260.0
freq       2000745
Name: vendor_number, dtype: object

In [28]:
liquor_data_complete['vendor_name'].describe()

count            12537545
unique                375
top       DIAGEO AMERICAS
freq              2000745
Name: vendor_name, dtype: object

In [29]:
liquor_data_complete['item_number'].describe()

count     12537545
unique        8117
top          11788
freq        123404
Name: item_number, dtype: object

In [30]:
liquor_data_complete['item_description'].describe()

count         12537545
unique            7918
top       BLACK VELVET
freq            305694
Name: item_description, dtype: object

In [31]:
liquor_data_complete['date'].describe()

count                         12537545
mean     2020-07-26 00:08:30.314642432
min                2018-01-02 00:00:00
25%                2019-05-08 00:00:00
50%                2020-08-06 00:00:00
75%                2021-10-19 00:00:00
max                2022-12-30 00:00:00
Name: date, dtype: object

In [32]:
liquor_data_complete['invoice_number'].describe()

count            12537545
unique           12537545
top       INV-14210900001
freq                    1
Name: invoice_number, dtype: object